@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: page-font;
  src: url(font/spacegr.ttf);
} */

body {
  font-family: 'Space Grotesk', sans-serif;
}

/* navbar */

.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

nav.menu {
  display: flex;
  /* background: rgb(53, 103, 51); */

}

ul {
  list-style-type: none;

}

ul.navbar li {
  display: inline;
}

.main-container {
  height: 1200px;
}

.logos,
.navbar {
  margin: 15px auto;
  padding: 0;

}

nav a {
  text-decoration: none;
  color: #112e51;

}

ul.navbar {
  display: flex;
}

ul.navbar>li a {
  padding: 8px;
  border: 1px solid transparent;
  background: white;
  border-radius: 8px;
  margin: 0 2px;

}

ul.navbar>li a:hover {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

#banner {
  background: url("https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467__340.jpg");
  background-size: cover;
  background-position: center;
  max-height: 200px;
  max-width: 100%;
}


.bannerprop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 3%; */
  margin-bottom: 10px;
}

.logo {
  height: 200px;
  display: flex;
  align-items: center;
}

.logo-design {
  width: 250px;
}



.banner-text {
  text-align: center;
  color: rgb(105 77 179);
  font-size: 40px;
}

#blog-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #a7d317), url(img/blog3.jpg);
  background-size: cover;
  height: 100%;
  margin-bottom: 10px;
}

#blog-section h1 {
  font-size: 70px;
  text-align: center;
  color: rgb(0 0 0);
  padding-top: 40px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.blog-box {
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;
}

.blog {
  flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #0b0e02;
    position: relative;
}

.blog img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  opacity: 45%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  transition: 1s;
}

.blog:hover .overlay {
  opacity: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.5), #0b5c4b);
  transition: 1s;
}


.blog-text {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;

}

.blog-text p {
  font-size: 20px;

}

hr {
  background: #000000;
  height: 4px;
  border: 10px;
  margin: 15px auto;
  width: 100%;

}

.blog:hover .blog-text {

  bottom: 30%;
  opacity: 1;

}

.blog-text h2 {
  font-size: 20px;
}

#page-footer p {
  text-align: center;
  font-size: 30px;
}

/* about-section */

.about {
  /* margin: 10%; */
  background-color: hsl(0, 0%, 98%);
}

.about #svg {
  position: absolute;
}

.about- {
  margin: 0% 10% 0% 10%;
  padding: 40px 0;
}


.about- hr {
  font-weight: 100;
  border: none;
  height: 1px;
  background: rgb(224, 219, 219);
  width: 100%;
  margin-bottom: 2%;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.about-heading {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 14px;

}

#p-head {
  margin-bottom: 8%;
  color: rgb(211, 208, 208);
}

.about-heading p {
  line-height: 30px;
}

.head-icon img {
  padding-left: 12px;
}

.about #hr {
  font-weight: 100;
  border: none;
  height: 1px;
  background: rgb(224, 219, 219);
  width: 100%;
}

.credit {
  text-align: center;
  padding: 20px;
}

.credit span {
  color: purple;
  text-decoration: underline;
}