@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
    /* color: hsl(0, 0%, 98%); */
}

/* navbar */

.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

nav.menu {
    display: flex;
    /* background: rgb(53, 103, 51); */

}

ul {
    list-style-type: none;

}

ul.navbar li {
    display: inline;
}

.main-container {
    height: 1200px;
}

.logo,
.navbar {
    margin: 15px auto;
    padding: 0;
    font-size: 17px;

}

nav a {
    text-decoration: none;
    color: #112e51;

}

ul.navbar {
    display: flex;
}

ul.navbar>li a {
    padding: 8px;
    border: 1px solid transparent;
    background: white;
    border-radius: 8px;
    margin: 0 2px;

}

ul.navbar>li a:hover {
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

/* hr {
    border-style: none;
    border-top-style: ridge;
    border-color: grey;
    border-width: 8px;
    width: 6rem;
    margin-bottom: 32px;
} */
.non {
    visibility: hidden;
}

/* home */

.home-sec {
    background-color: hsl(256, 26%, 20%);
    height: 60vh;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 30px;

}

.home h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 55px;
    margin-bottom: 15px;
}

.home p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: justify;
}

.home-content {
    color: hsl(0, 0%, 98%);
    width: 39%;
}

.home-img {
    /* position: relative; */
    padding-top: 15%;
    width: 35%;
}

.home-img img {
    height: 60vh;
}

.home-sec button {
    padding: 12px 28px;
    /* background-color: hsl(256, 26%, 20%); */
    background-color: transparent;
    color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 98%);
    font-size: 12px;
}

.home-sec button:hover {
    background-color: white;
    color: hsl(256, 26%, 20%);
}

.home-svgs .left-corner {
    position: absolute;
    width: 8vw;
    left: 0;
    top: 50%;
}

.home-svgs .right-corner {
    position: absolute;
    width: 14vw;
    top: 6%;
    right: 0;
    /* z-index: 1; */
}

/* middle-section */

.middle {
    margin: 0 10%;
}

.middle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.middle h1 {

    margin-bottom: 10px;
    font-weight: 700;
    font-size: 48px;
}

.middle h3 {
    margin: 20px 0;
}

.middle p {
    color: grey;
    /* width: 90%; */
}

.content {
    width: 30%;
    height: 40%;
}

/* box-section */

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 82vw;
    height: 20vh;
    margin: 8% 9.5%;
    background-color: hsl(256, 26%, 20%);
    position: relative;

}

.box-container {
    width: 50%;
}

.box-container h1 {
    font-weight: 700;
    font-size: 48px;
    color: hsl(0, 0%, 98%);
}

.box-button {
    z-index: 99;
}

.box-button button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    /* display: inline-block; */
}

.box-button button:hover {
    background-color: white;
    color: hsl(256, 26%, 20%);
}

.box img {
    position: absolute;
    right: 0;
    z-index: 9;
    height: 20vh;
}

/* about-section */

.about {
    /* margin: 10%; */
    background-color: hsl(0, 0%, 98%);
}

.about #svg {
    position: absolute;
    width: 30%;
}

.about- {
    margin: 5% 10% 0% 10%;
    padding: 40px 0;
}


.about- hr {
    font-weight: 100;
    border: none;
    height: 1px;
    background: rgb(224, 219, 219);
    width: 100%;
    margin-bottom: 2%;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.about-heading {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 14px;

}

p-head {
    margin-bottom: 8%;
    /* color: rgb(211, 208, 208); */
    color: grey;
}

.about-heading p {
    line-height: 30px;
}

.head-icon img {
    z-index: 10;
    margin-left: 12px;
}

.about hr {
    font-weight: 100;
    border: none;
    height: 1px;
    background: rgb(224, 219, 219);
    width: 100%;
    margin-bottom: 1%;
}

.credit {
    text-align: center;
    padding: 20px;
}

.credit span {
    color: purple;
    text-decoration: underline;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .home-sec {
        margin-bottom: 100px;
    }

    .home-content {
        width: 40%;
    }

    .home-sec h1 {
        font-size: 40px;
    }

    .home-sec p {
        font-size: 14px;
    }

    .home-img {
        top: 0;
    }

    .home-img img {
        height: 48vh;
    }

    .middle h1 {
        font-size: 36px;
    }

    .middle h3 {
        font-size: 20px;
    }

    .middle p {
        font-size: 14px;
    }

    .box-container {
        justify-content: space-around;
        width: 50%;
    }

    .box-container h1 {
        font-size: 32px;
    }

    .box-button button {
        padding: 10px;
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .non {
        /* display: none; */
        visibility: hidden;
    }

    .home-sec {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        margin-bottom: 100px;
    }

    .home-content {
        width: 70%;
        height: 50%;
    }

    .home-img {
        width: 100%;
        padding-top: 0;
    }

    .home-img img {
        width: 100%;
        height: 80%;

    }

    .home-sec h1 {
        font-size: 40px;
    }

    .home-sec p {
        font-size: 14px;
        text-align: center;
    }

    .home-sec button {
        font-size: 12px;
        margin-bottom: 80px;
    }

    .middle {
        text-align: center;
    }

    .middle-container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 25%;
    }

    .content {
        display: flex;
        flex-direction: column;

        align-items: center;
        width: 100%;
        margin-top: 15%;

    }

    .middle h1 {
        font-size: 42px;
        text-decoration: underline;
    }

    .box-container p {
        font-size: 10px;
    }

    .box {
        flex-direction: column;
        height: 350px;
    }

    .box-container {
        width: 90%;
        text-align: center;
    }


    .box-container h1 {
        font-size: 32px;
    }

    .box-button button {
        padding: 10px;
    }

    .box img {
        top: 0;
        width: 200px;
        height: 50%;
    }

    .heading {
        flex-direction: column;
        text-align: center;
        line-height: 55px;
    }

    .about-heading {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .p-head {
        margin: 20px 0;
        color: grey;
        font-size: 17px;
        text-decoration: underline;
    }

    #svgg {
        content: url('../img/bg-pattern-how-we-work-mobile.svg');
        height: 90%;
    }

    .about #svg {
        content: url('../img/bg-pattern-footer-mobile.svg');
        width: 100%;
        height: 17%;

    }

    .header {
        width: 100%;
        font-size: 14px;
    }
}


/* BLOG PAGE CSS */
.blog-page .left-pattern {
    position: absolute;
    left: 0;
    width: 8%;
    top: 20%;
}


.blog-page .right-pattern {
    position: absolute;
    right: 0;
    width: 10%;
    top: 51px;
}


.blog-page .banner {
    background-color: #2d2640;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: #f8f8ff;

}

.blog-page .banner .banner-text {
    font-size: 60px;
}



.blog-page #blog-section {
    background: linear-gradient(rgba(0, 0, 0, 0.1), #f8f8ff);
    background-size: cover;
    height: 100%;

}

.blog-page .blog-section h1 {
    font-size: 70px;
    text-align: center;
    color: rgb(0 0 0);
    padding-top: 40px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.blog-page .blog-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.blog-page .blog {
    flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #0b0e02;
    position: relative;
}

.blog-page .blog img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    opacity: 45%;
}

.blog-page .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    transition: 1s;
}

.blog-page .blog:hover .overlay {
    opacity: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.897), #2d2640);
    transition: 1s;
}

.blog-page .blog-text:hover {
    color: ghostwhite;

}

.blog-page .blog-text:hover hr {
    background: ghostwhite;

}

.blog-page .blog-text {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    padding-bottom: 10%;

}

.blog-page .blog-text p {
    font-size: 20px;

}

.blog-page .hrs {
    background: #000000;
    height: 4px;
    border: 10px;
    margin: 15px auto;
    width: 100%;

}

.blog-page .blog-text hr::before {
    background: ghostwhite;
}

.blog-page .blog:hover .blog-text {

    bottom: 20%;
    opacity: 1;

}

.blog-page .blog-text h2 {
    font-size: 20px;
}

/* @media (min-width:1367px) and (max-width:1440px) {
    .blog-page h1 {
        font-size: 48px;
    }

    .blog-page h2 {
        font-size: 28px;
    }

    .blog-page p {
        text-align: justify;
        font-size: 16px;
    }

} */

@media (min-width:1281px) and (max-width:1366px) {
    .blog-page h1 {
        font-size: 42px !important;
    }

    .blog-page h2 {
        font-size: 24px !important;
    }

    .blog-page p {
        text-align: justify;
        font-size: 15px !important;
    }

    .blog-page .banner {
        height: 40vh;
    }

    .blog-page .left-pattern {
        top: 32%;
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    .blog-page h1 {
        font-size: 38px !important;
    }

    .blog-page h2 {
        font-size: 22px !important;
    }

    .blog-page p {
        text-align: justify;
        font-size: 14px !important;
    }

    .blog-page .banner {
        height: 20vh;
    }

    .blog-page .left-pattern {
        top: 13%;
    }

}

@media (min-width:768px) and (max-width:1024px) {
    .blog-page .blog-box {
        display: inline-block;
        margin: 0;
        padding: 21px;
    }

    .blog-page .banner {
        height: 20vh;
    }

    .blog-page .banner .banner-text {
        font-size: 40px;
    }

    .blog-page .left-pattern {
        visibility: hidden;
    }

    .blog-page .right-pattern {
        visibility: hidden;
    }

    .blog-page .blog-section h1 {
        font-size: 40px;
    }

    .blog-page .blog {
        height: 200px;

    }

    .blog-page .blog:hover .blog-text {

        bottom: 10%;
        opacity: 1;

    }

}

@media (min-width:375px) and (max-width:767px) {
    .blog-page .blog-box {
        display: inline-block;
        margin: 0;
        padding: 21px;
    }

    .blog-page .banner {
        height: 20vh;
    }

    .blog-page .banner .banner-text {
        font-size: 40px;
    }

    .blog-page .left-pattern {
        visibility: hidden;
    }

    .blog-page .right-pattern {
        visibility: hidden;
    }

    .blog-page .blog-section h1 {
        font-size: 40px;
    }

    .blog-page .blog {
        height: 200px;

    }

    .blog-page .blog:hover .blog-text {

        bottom: 10%;
        opacity: 1;

    }

}

@media (min-width:481px) and (max-width:991px) and (orientation:landscape) {}

/* ABOUT PAGE SECTION */

.about-page .about-us-heading {

    background-color: hsl(256, 26%, 20%);
    /* text-align: center; */
    color: ghostwhite;
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.about-page .about-box-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 10%;
}

.about-page .about-box-2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 3% 10%;
}

.about-page .right-pattern {
    position: absolute;
    right: 0;
    width: 10%;
    top: 51px;

}

.about-page .left-pattern {
    position: absolute;
    left: 0;
    width: 8%;
    top: 20%;
}

.about-page .writings {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 18px;
    text-align: justify;
    padding: 2%;

}

.about-page .about-box-image {
    height: 100%;
}

.about-page .note2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 3% 6%;
}

@media (min-width:1367px) and (max-width:1440px) {}

@media (min-width:1281px) and (max-width:1366px) {
    .about-page .about-box-1 {
        display: flex;
        flex-direction: column;
    }

    .about-page .about-box-2 {
        display: flex;
        flex-direction: column;
    }

    .about-page .writings {
        width: auto;

    }

    .about-page .about-us-heading {
        height: 40vh;
    }

    .about-page .left-pattern {
        top: 32%
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    .about-page .about-box-1 {
        display: flex;
        flex-direction: column;
    }

    .about-page .about-box-2 {
        display: flex;
        flex-direction: column;
    }

    .about-page .writings {
        width: auto
    }

    .about-page .about-us-heading {
        height: 20vh;
    }

    .about-page .left-pattern {
        top: 13%;
    }

    .about-page .about-us-heading {
        font-size: 38px;
    }

}

@media (min-width:768px) and (max-width:1024px) {
    .about-page .about-box-1 {
        display: flex;
        flex-direction: column;
    }

    .about-page .about-box-2 {
        display: flex;
        flex-direction: column;
    }

    .about-page .writings {
        width: auto;

    }

    .about-page .about-us-heading {
        height: 20vh;
    }

    .about-page .left-pattern {
        visibility: hidden;
    }

    .about-page .right-pattern {
        visibility: hidden;
    }

    .about-page .about-us-heading {
        font-size: 38px;
    }

}

@media (min-width:375px) and (max-width:767px) {
    .about-page .about-box-1 {
        display: flex;
        flex-direction: column;
    }

    .about-page .about-box-2 {
        display: flex;
        flex-direction: column;
    }

    .about-page .writings {
        width: auto;

    }

    .about-page .about-us-heading {
        height: 20vh;
    }

    .about-page .left-pattern {
        visibility: hidden;
    }

    .about-page .right-pattern {
        visibility: hidden;
    }

    .about-page .about-us-heading {
        font-size: 38px;
    }
}


/* Contact Us Page */

.container {
    margin: 3% 0;
    position: relative;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 100px; */
}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    /* height: 100%; */
    left: 0;
    top: 0;
    background: url("img/map image.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}


.contact-box .left iframe {
    width: 100%;
    height: 100%;
}



.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    text-align: center;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    /* background-color: orange; */
    background-color: #2d2640;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-top: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 30%;
    padding: 0.5rem 1rem;
    background-color: #2d2640;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin-left: 35%;
    margin-top: 25px;
}

.btn:hover {
    background-color: green;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

}

.headings {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: hsl(256, 26%, 20%);
    /* background-image: url("https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467__340.jpg"); */
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
}


@media (max-width: 900px) and (min-width: 375px) {
    .left {
        padding: 15px;
        width: 95vw;
        height: 60vh;
    }

    .container {
        padding: 20px 0px;
    }
}


a {
    color: #551A8B
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: hsl(256, 26%, 20%);
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    font-size: 20px;
    /* padding: 5%; */
    /* border: 2px solid #551A8B; */
}


/* @media (min-width: 300px) and (max-width:480px){ */
/* creted a ham-menu */
/* .ham-menu {
            position: fixed;
            top: 0;
            right: 0;
            background-color: #262626;
            height: 50px;
            width: 50px;
            cursor: pointer;
            transition: 0.3s;
            z-index: 9999;
        }
    
        .ham-menu span {
            position: absolute;
            height: 3px;
            width: 25px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
        }
    
        .ham-menu span:before {
            content: '';
            position: absolute;
            top: -8px;
            background-color: #fff;
            height: 3px;
            width: 25px;
            transition: 0.3s;
        }
    
        .ham-menu span:after {
            content: '';
            position: absolute;
            top: 8px;
            background-color: #fff;
            height: 3px;
            width: 25px;
            transition: 0.3s;
        }
    
        .ham-menu.active span {
            background-color: transparent;
        }
    
        .ham-menu.active span:before {
            transform: rotate(45deg);
            top: 0;
        }
    
        .ham-menu.active span:after {
            transform: rotate(-45deg);
            top: 0;
        }
        /* ....... */
/* .menu {
            background-color: #fafafa;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            transform: translateX(-100%);
            transition: 0.5s;
        }

        .menu.active {
            transform: translateX(0);
            transition: 0.5s;
        }

        .menu .navbar {
            padding: 0;
            margin: 0;
            text-align: right;
        }

        .navbar li {
            display: inline-block;
        }

        .navbar li a {
            background-color: #fff;
            color: #262626;
            display: block;
            font-size: 1rem;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            letter-spacing: 1px;
            text-decoration: none;
            transition: 0.5s;
        }

        .navbar li a:hover {
            background-color: #262626;
            color: #fff;
            transition: 0.5s;
        }

        .menu{
            height: auto;
            z-index: 1;
        }
        .navbar li{
            display: block;
        }

        .menu .navbar{
            text-align: center;
        }

} */

/********For Menu CSS********/
@media (max-width:480px) {
    .home-svgs .right-corner {
        visibility: hidden;
    }

    nav.menu {
        display: block;
        padding: 10px;
    }

    button.ham_burg_menu img {
        width: 60%;
        height: auto;
    }

    .logo,
    .navbar {
        margin: 10px;
    }

    button.ham_burg_menu {
        width: 46px;
        position: absolute;
        right: 0;
        top: 15px;
        z-index: 9;
        background: transparent;
        border: 0;
    }

    ul.navbar {
        display: block;
    }

    ul.navbar>li {
        display: block;
        padding: 7px;
        border-bottom: 1px solid #9e9999;
        background: #2d2640;
    }

    ul.navbar>li a {
        padding: 0px;
        border: 0px;
        background: none;
        border-radius: 0;
        margin: 0;
        color: #fff;
    }
}



/*****************Pratik Contact Us CSS Merge********************/
.banner_contatc {
    background: #eee;
}

.banner_contatc iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin: 0;
    padding: 0;
}

.contact_content h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 20px;
}

.col_box_main>div {
    width: 30%;
    background-color: #eee;
    float: left;
    padding: 5px;
    margin: 1%;
    text-align: center;
    box-shadow: 2px 2px 4px #000000a1;
    border-radius: 5px;
}

.col_box_main>div h2 {
    font-size: 25px;
}

.col_box_main>div p {
    font-size: 15px;
    /* margin-bottom: 20px; */
    text-align: justify;
    margin: 10px 20px 20px 20px;
}

.contact-box {
    padding: 40px;
    position: relative;
    margin-top: 50px;
    float: left;
    width: 94%;
}

.contact-box .col_box {
    width: 50%;
    float: left;
}

.clear {
    clear: both;
}

.accordion_section {
    margin-right: 40px;
    padding: 20px;
}

.accordion_section h3 {
    background: #eee;
    padding: 10px;
    cursor: pointer;
}

.accordion_section p {
    margin-bottom: 20px;
    padding: 10px;

}


@media (max-width:750px) {
    .col_box_main>div {
        width: 90%;
        /* margin-bottom: 20px; */
        margin: 0 0 20px 20px;
        padding: 0;
    }

    .col_box_main>div h2 {
        font-size: 25px;
        margin-top: 10px;
    }

    .contact-box .col_box {
        width: 100%;
    }

    .accordion_section {
        margin-right: 0;
    }

    .contact_form {
        margin-top: 30px;
    }
}


.error {
    color: red;
}

label.error {
    display: inline;
}